
		body
		{
			font-family: Courier New, monospace;
			background-color: rgba(43, 202, 201, 0.3);
			margin-left: auto;
			margin-right: auto;
			width: fit-content;
		}

		.hide
		{
			display: none;
		}

		button
		{
			background-color: rgb(43, 72, 201);
			color: white;
			cursor: pointer;
			padding: 15px;
			font-size: large;
			border: none;
			border-radius: 15%;
			outline: none;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}

		input 			
		{
			padding: 15px;
			font-size: 1.5rem;
			display: block;
			width: 70%;
			margin-left: auto;
			margin-right: auto;
		}

		#gametitle
		{
			color: rgba(43, 220, 156, 0.9);
			text-align: center;
		}

		.cursor
		{
   			background-color: rgb(72, 218, 218);
		}

		.done
		{
			color: rgb(156, 153, 153);
		}

