* {
    box-sizing: border-box;
}

/* style for run george run text at top */
header {
    position: absolute;
    top: 0rem;
    font-size: 3rem;
    font-weight: bolder;
    color: rgb(43, 72, 201);
}

/* style for page background */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: rgba( 43, 202, 201, 0.3);
}

body,
.sentence-input {
    font-family: 'Courier New', Courier, monospace;
}


/* style for sentence box */
.container1 {
    background-color: rgb(43, 72, 201);
    position: absolute;
    top: 28rem;
    padding: 1rem;
    border-radius: .5rem;
    margin: 1rem;
    width: 795px;
    max-width: 90%;
    height: auto;
    font-size: large;
}

/* style for typing input box */
.container2 {
    background-color: rgb(41, 118, 241);
    border-radius: .5rem;
    position: absolute;
    top: 33rem;
    margin: 1rem;
    width: 795px;
    max-width: 90%;
    height: 10rem;
    font-size: large;
}

/* style for direction box */
.container3 {
    position: absolute;
    top: 4rem;
    height: auto;
    width: 795px;
    max-width: 90%;
    border-radius: 0.25rem;
    border-color: cadetblue;
    background-color: rgb(76, 148, 88);
}

/* text for header in container 3 */
.howto {
    padding: 5px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgb(182, 255, 255);
    font-size: 1.2rem;
    color: rgb(92, 255, 192);
    font-weight: 700;
}

/* text for directions in container 3 */
.explain {
    padding: 6px;
    text-align: center;
    font-size: 0.8rem;
    color: white;
    font-weight: 900;
    margin-left: 10px;
    margin-right: 10px;
}

/* style for score counter */
.score-display {
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 6rem;
    left: 20rem;
    font-size: 1.5rem;
    color: rgb(43, 72, 201);
    font-weight: bold;
}

/*  style for timer */
.timer-display {
    top: 50%;
    right: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 6rem;
    right: 40rem;
    font-size: 1.5rem;
    color: rgb(43, 72, 201);
    font-weight: bold;
    font-size: 1.5rem;
    width: 20rem;
}

/* style for the countdown to start of game */
.countdown-display {
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 6rem;
    color: rgb(43, 72, 201);
    font-weight: bold;
    font-size: 1.5rem;
}

/* text for beginning of game */
.sentence-display {
    color: white;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/* typing box */
.sentence-input {
    background-color: transparent;
    color: white;
    border: 10px solid rgb(41, 118, 241);
    outline: none;
    width: 100%;
    height: 10rem;
    margin: auto;
    resize: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .5rem;
}

/* color when the box is clicked */
.sentence-input:focus {
    border-color: rgba(43, 220, 156, 0.9);
}

/* the style for once you type the right letter */
.good {
    color: rgb(0, 255, 13);
}

/* the style for once you type the wrong letter */
.bad {
    color: red;
    text-decoration: underline;
}

/* style for popup that comes on after the game is over */
.popup {
    z-index: 1;
    background-color: rgb(77, 56, 19);
    width: 450px;
    height: auto;
    padding: 20px 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    display: none;
    text-align: center;
    color: rgb(76, 148, 88);
    text-shadow: -0.4px -0.4px 0 rgb(12, 48, 10), 0.4px -0.4px 0 rgb(12, 48, 10), -0.4px 0.4px 0 rgb(12, 48, 10), 0.4px 0.4px rgb(12, 48, 10);
}

/* style for the wpm text */
.wpm-score {
    text-shadow: -0.4px -0.4px 0 rgb(12, 48, 10), 0.4px -0.4px 0 rgb(12, 48, 10), -0.4px 0.4px 0 rgb(12, 48, 10), 0.4px 0.4px rgb(12, 48, 10);
    font-size: 1rem;
    text-align: center;
    color: rgb(76, 148, 88);
}

/* style for the time you took text */
.timescore-display {
    text-shadow: -0.4px -0.4px 0 rgb(12, 48, 10), 0.4px -0.4px 0 rgb(12, 48, 10), -0.4px 0.4px 0 rgb(12, 48, 10), 0.4px 0.4px rgb(12, 48, 10);
    text-align: center;
    color: rgb(76, 148, 88);
}

/* reset button on popup style */
.resetbutton {
    display: block;
    margin: auto;
    background-color: rgb(76, 148, 88);
    font-size: 1.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0.5rem;
    color: rgb(77, 56, 19);
    text-shadow: -0.4px -0.4px 0 rgb(58, 42, 11), 0.4px -0.4px 0 rgb(58, 42, 11), -0.4px 0.4px 0 rgb(58, 42, 11), 0.4px 0.4px rgb(58, 42, 11);
}

/* start game button */
.buttonclass {
    width: 25rem;
    height: 1.6rem;
    position: absolute;
    top: 10rem;
    border-radius: 4rem;
    cursor: pointer;
    background-color: rgb(58, 42, 11);
    color: white;
}

/* Easy Level button */
.buttoneasyclass {
    width: 7rem;
    height: 1.6rem;
    position: absolute;
    top: 10rem;
    margin-right: 20rem;
    border-radius: 4rem;
    border-color: green;
    cursor: pointer;
    background-image: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(148, 190, 117, 1) 100%);
    color: white;
    background-size: cover;
}

/* Medium Level button */
.buttonmediumclass {
    width: 7rem;
    height: 1.6rem;
    position: absolute;
    top: 10rem;
    border-radius: 4rem;
    border-color: green;
    cursor: pointer;
    background-image: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(148, 190, 117, 1) 100%);
    color: white;
    background-size: cover;
}

/* Hard Level button */
.buttonhardclass {
    width: 7rem;
    height: 1.6rem;
    position: absolute;
    top: 10rem;
    margin-left: 20rem;
    border-radius: 4rem;
    border-color: green;
    cursor: pointer;
    background-image: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(148, 190, 117, 1) 100%);
    color: white;
    background-size: cover;
}

/* hidden element, we can add this to any class/id and hide the graphic */
.hidden {
    display: none;
}

/* pond image sizing */
.game{
    background-image:url("bgd.jpg");
    background-size: contain;
    width: 795px;
    height: 300px;
    position: absolute;
    top: 10rem;
    border: 1px solid black;
    margin: auto;
    overflow-x: hidden;
    z-index: -3;
}


/* frog image sizing */
#frog{
    position:relative;
    top: 170px;
    left:-20px;
}

/* animation for frog, in another element so we can use it in a function */
.animate{
    animation: jump 4s linear;
}
@keyframes jump{
    0%{top: 50px;}
    33%{top: 100px;}
    66%{top: 100px;}
    100%{top: 50px;}
}


/* rock image sizing */
#rock{
    position: relative;
    top: 140px;
    left: 350px;
}

/* animation for rock, put in another element so we can use it in a function */
.rockAnimate{
  animation: rock 0.4s linear;
}
@keyframes rock{
    0%{left: 350px}
    100%{left: -200px}
}
