* {
    box-sizing: border-box;
}

header {
    position: absolute;
    top: 0rem;
    font-size: 3rem;
    font-weight: bolder;
    color: rgb(43, 72, 201);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: rgba( 43, 202, 201, 0.3);
}

body,
.sentence-input {
    font-family: 'Courier New', Courier, monospace;
}

.movable {
    position: absolute;
    top: 5rem;
}

.container1 {
    background-color: rgb(43, 72, 201);
    position: absolute;
    top: 28rem;
    padding: 1rem;
    border-radius: .5rem;
    margin: 1rem;
    width: 795px;
    max-width: 90%;
    height: auto;
    font-size: large;
}

.container2 {
    background-color: rgb(41, 118, 241);
    border-radius: .5rem;
    position: absolute;
    top: 33rem;
    margin: 1rem;
    width: 795px;
    max-width: 90%;
    height: 10rem;
    font-size: large;
}

.container3 {
    position: absolute;
    top: 4rem;
    height: auto;
    width: 795px;
    max-width: 90%;
    border-radius: 0.25rem;
    border-color: cadetblue;
    background-color: rgb(76, 148, 88);
}

.howto {
    padding: 5px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgb(182, 255, 255);
    font-size: 1.2rem;
    color: rgb(92, 255, 192);
    font-weight: 700;
}

.explain {
    padding: 6px;
    text-align: center;
    font-size: 0.8rem;
    color: white;
    font-weight: 900;
    margin-left: 10px;
    margin-right: 10px;
}

.score-display {
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 6rem;
    left: 10rem;
    font-size: 1.5rem;
    color: rgb(43, 72, 201);
    font-weight: bold;
}

.timer-display {
    top: 50%;
    right: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 6rem;
    right: 19rem;
    font-size: 1.5rem;
    color: rgb(43, 72, 201);
    font-weight: bold;
    font-size: 1.5rem;
    width: 20rem;
}

.countdown-display {
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 6rem;
    color: rgb(43, 72, 201);
    font-weight: bold;
    font-size: 1.5rem;
}

.sentence-display {
    color: white;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.sentence-input {
    background-color: transparent;
    color: white;
    border: 10px solid rgb(41, 118, 241);
    outline: none;
    width: 100%;
    height: 10rem;
    margin: auto;
    resize: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .5rem;
}

.sentence-input:focus {
    border-color: rgba(43, 220, 156, 0.9);
}

.good {
    color: rgb(0, 255, 13);
}

.bad {
    color: red;
    text-decoration: underline;
}

.popup {
    z-index: 1;
    background-color: rgb(77, 56, 19);
    width: 450px;
    height: auto;
    padding: 20px 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    display: none;
    text-align: center;
    color: rgb(76, 148, 88);
    text-shadow: -0.4px -0.4px 0 rgb(12, 48, 10), 0.4px -0.4px 0 rgb(12, 48, 10), -0.4px 0.4px 0 rgb(12, 48, 10), 0.4px 0.4px rgb(12, 48, 10);
}

.wpm-score {
    text-shadow: -0.4px -0.4px 0 rgb(12, 48, 10), 0.4px -0.4px 0 rgb(12, 48, 10), -0.4px 0.4px 0 rgb(12, 48, 10), 0.4px 0.4px rgb(12, 48, 10);
    font-size: 1rem;
    text-align: center;
    color: rgb(76, 148, 88);
}

.timescore-display {
    text-shadow: -0.4px -0.4px 0 rgb(12, 48, 10), 0.4px -0.4px 0 rgb(12, 48, 10), -0.4px 0.4px 0 rgb(12, 48, 10), 0.4px 0.4px rgb(12, 48, 10);
    text-align: center;
    color: rgb(76, 148, 88);
}

.resetbutton {
    display: block;
    margin: auto;
    background-color: rgb(76, 148, 88);
    font-size: 1.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0.5rem;
    color: rgb(77, 56, 19);
    text-shadow: -0.4px -0.4px 0 rgb(58, 42, 11), 0.4px -0.4px 0 rgb(58, 42, 11), -0.4px 0.4px 0 rgb(58, 42, 11), 0.4px 0.4px rgb(58, 42, 11);
}

.buttonclass {
    width: 25rem;
    height: 1.6rem;
    position: absolute;
    top: 10rem;
    border-radius: 4rem;
    cursor: pointer;
    background-color: rgb(58, 42, 11);
    color: white;
}

.buttoneasyclass {
    width: 7rem;
    height: 1.6rem;
    position: absolute;
    top: 10rem;
    margin-right: 20rem;
    border-radius: 4rem;
    border-color: green;
    cursor: pointer;
    background-image: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(148, 190, 117, 1) 100%);
    color: white;
    background-size: cover;
}

.buttonmediumclass {
    width: 7rem;
    height: 1.6rem;
    position: absolute;
    top: 10rem;
    border-radius: 4rem;
    border-color: green;
    cursor: pointer;
    background-image: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(148, 190, 117, 1) 100%);
    color: white;
    background-size: cover;
}

.buttonhardclass {
    width: 7rem;
    height: 1.6rem;
    position: absolute;
    top: 10rem;
    margin-left: 20rem;
    border-radius: 4rem;
    border-color: green;
    cursor: pointer;
    background-image: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(148, 190, 117, 1) 100%);
    color: white;
    background-size: cover;
}

.hidden {
    display: none;
}


.game{
    background-image:url("bgd.jpg");
    background-size: contain;
    width: 795px;
    height: 300px;
    top: 50rem;
    border: 1px solid black;
    margin: auto;
    overflow-x: hidden;
}
#frog{
    position:relative;
    top: 170px;
    left:-20px;
}
.animate{
    animation: jump 4s linear;
}
@keyframes jump{
    0%{top: 50px;}
    33%{top: 100px;}
    66%{top: 100px;}
    100%{top: 50px;}
}

#rock{
    position: relative;
    top: 160px;
    left: 350px;
}

.rockAnimate{
  animation: rock 0.4s linear;
}
@keyframes rock{
    0%{left: 350px}
    100%{left: -200px}
}
